$max: 55px;

html, body {
  margin: 0;
}

body {
  background: #fefefe;
  font-family: serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1 {
  font-size: 560px;
  text-shadow: $max $max 15px #c1c1c1;
}

.border-container {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 34px;
}

.border-top {
  position: absolute;
  top: 34px;
  width: calc(100% - 68px);
  height: 10px;
  background: #000;
  box-shadow: $max $max 15px #c1c1c1;
}

.border-right {
  position: absolute;
  right: 34px;
  width: 10px;
  height: calc(100% - 68px);
  background: #000;
  box-shadow: $max $max 15px #c1c1c1;
}

.border-bottom {
  position: absolute;
  bottom: 34px;
  width: calc(100% - 68px);
  height: 10px;
  background: #000;
  box-shadow: $max $max 15px #c1c1c1;
}

.border-left {
  position: absolute;
  left: 34px;
  width: 10px;
  height: calc(100% - 68px);
  background: #000;
  box-shadow: $max $max 15px #c1c1c1;
}
